/*
StyleSheet Name: Cssb
Description: Used to give basis on web project
*/
/**
 * Table of Contents:
 *
 * I   - Import tools
 * II  - Variables
 * III - Structure
 * 0.0 - Reset
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements/Modules
 * 4.0 - Themes
 */
/*----------------------------------------------------------------*        I_Import tools
\*----------------------------------------------------------------*/
/*----------------------------------------------------------------*        II_Variables
\*----------------------------------------------------------------*/
/*breakpoints*/
/*color panel*/
/*----------------------------------------------------------------*        III_Structure
\*----------------------------------------------------------------*/
/**
 * 0.0 - Reset
 */
ul, ol {
  list-style: none; }

/**
 * 1.0 - Body
 */
#grafcet {
  background-color: #004756; }

/**
 * 2.0 - Typographie
 */
/**
 * 3.0 - Elements/Modules
 */
#grafcet .item, #grafcet .g_item {
  background-color: #FFF;
  float: left;
  border: 1px solid #000;
  position: relative; }
  #grafcet .item p, #grafcet .g_item p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

#grafcet .item {
  height: 50px;
  width: 50px; }

#grafcet .g_item {
  width: 10%; }
  #grafcet .g_item.g_step:before {
    content: "";
    display: block;
    padding-top: 100%; }
  #grafcet .g_item.g_trans:before {
    content: "";
    display: block;
    padding-top: 30%; }
  #grafcet .g_item .content {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: 0;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

#grafcet .item:hover, #grafcet .g_item:hover {
  background-color: #C5C1C1; }

#grafcet th, td {
  text-align: center;
  border: 1px solid #000;
  height: 50px; }

#grafcet td:hover {
  background-color: #C5C1C1; }

#grafcet .active_item, .active_Adj {
  background-color: #E5ACAC; }

#grafcet #edges {
  background-color: #C5C1C1;
  height: 100%; }

#grafcet #stack {
  background-color: #C5C1C1; }

/*
 * require suzy
 */
/**
 * 4.0 - Themes
 */
