<div class="container">
  <h3 class="text-center">Jouer le grafcet</h3>
  <hr/>
  <div class="player text-center">
    <button type="button" id="button_fbw" class="button" onclick='buttonRewindPress()'>
      <i class="fi-previous"></i>
    </button>
    
    <button type="button" id="button_bw" class="button" onclick='buttonBackPress()'>
      <i class="fi-rewind"></i>
    </button>
    
    <button type="button" id="button_play" class="button" onclick='buttonPlayPress()'>
      <i class="fi-play"></i>
    </button>
    
    <button type="button" id="button_stop" class="button" onclick='buttonStopPress()'>
      <i class="fi-stop"></i>
    </button>
    
    <button type="button" id="button_fw" class="button" onclick='buttonForwardPress()'>
      <i class="fi-fast-forward"></i>
    </button>
    
    <button type="button" id="button_ffw" class="button" onclick='buttonFastforwardPress()'>
      <i class="fi-next"></i>
    </button>    
  </div>
</div>