<header>
    <!-- Banner -->
    <div class="row">
        <div class="medium-4 columns">
            <img src="http://placehold.it/450x183&text=LOGO" alt="company logo">
        </div>
        <div class="medium-8 columns">
            <img src="http://placehold.it/900x175&text=Responsive Ads - ZURB Playground/333" alt="advertisement for deep fried Twinkies">
        </div>
    </div>

    <!-- Title bar -->
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <!-- Top bar -->
    <div class="top-bar" id="stack">
        <ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
            <li class="has-submenu"><a href="#">Steps</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><div data-type="Initial_Step" class="item step active_item"><p>Init</p></div></li>
                    <li><div data-type="step" class="item step "><p>X</p></div></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#">Connexions</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><div data-type="Join_connection" class="item connection"><p>Join</p></div></li>
                    <li><div data-type="Fork_connection" class="item connection"><p>Fork</p></div></li>
                    <li><div data-type="Merge_connection" class="item connection"><p>Merge</p></div></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#">Actions</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><div class="item"><p>Erase</p></div></li>
                </ul>
            </li>
        </ul>
    </div>
</header>