<head lang="FR">

    <title>CSSB</title>

    <!-- params -->
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Assets -->
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="../vendors/gridster/dist/jquery.gridster.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/app.css">
</head>