
<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Define</a></li>
    <li class="tabs-title"><a href="#panel2">PinMode</a></li>
    <li class="tabs-title"><a href="#panel3">Read</a></li>
</ul>
<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
        <textarea name="" id="define" cols="30" rows="10">
            {% include "../contents/define.html" %}
        </textarea>
    </div>
    <div class="tabs-panel" id="panel2">
        <textarea name="" id="pinMode" cols="30" rows="10">
            {% include "../contents/pinMode.html" %}
        </textarea>
    </div>
    <div class="tabs-panel" id="panel3">
        <textarea name="" id="read" cols="30" rows="10">
            {% include "../contents/read.html" %}
        </textarea>
    </div>
</div>                  
</div>
<div class="large-4 columns">
    <h5><a href="#">Inputs</a></h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
<hr>        
