/*
StyleSheet Name: Cssb
Description: Used to give basis on web project
*/

/**
 * Table of Contents:
 *
 * I   - Import tools
 * II  - Variables
 * III - Structure
 * 0.0 - Reset
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements/Modules
 * 4.0 - Themes
 */

/*----------------------------------------------------------------*\
        I_Import tools
\*----------------------------------------------------------------*/

//> npm install susy
//@import "node_modules/susy/sass/susy";
//> npm install breakpoint-sass
//@import "node_modules/breakpoint-sass/stylesheets/breakpoint";
//>npm install foundation-sites
@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-everything();

/*----------------------------------------------------------------*\
        II_Variables
\*----------------------------------------------------------------*/
/*breakpoints*/
$bkp-lg:970px;
$bkp-md:800px;
$bkp-sm:600px;

/*color panel*/
$color-1: white;
$color-2: black;
$color-3: red;

$size: 50;
/*----------------------------------------------------------------*\
        III_Structure
\*----------------------------------------------------------------*/

/**
 * 0.0 - Reset
 */ 

ul, ol {
    list-style: none;

}

//> This is a very basic css Reset
//@import 'base/cssReset';

/**
 * 1.0 - Body
 */
body{
    background-color: #004756;
}


/**
 * 2.0 - Typographie
 */


/**
 * 3.0 - Elements/Modules
 */

$nbr_col: 10;



/**
 * General
 */
.g_item{
    width: 100% / $nbr_col;
    background-color: #FFF;
    float: left;

    //debug
    border: 1px solid #000;
    
    position: relative;

    p{
        margin: 0;

        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .content{
        position: absolute;
        top: 50%;
        line-height: 250%;
        
        margin: 0;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    svg{
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
    }
}

/**
 * Hovers
 */
.g_item:hover{
    background-color: #C5C1C1;
}

/**
 * Special Items
 */
.g_item{

    //*** Steps ***//
    &.g_step:before{
        content: "";
        display: block;
        padding-top: 100%;
    }

    &.g_step .content{
        position: absolute;
        left: 50%;
        text-align: center;
    }

    //*** Transitions ***//

    &.g_trans:before{
        content: "";
        display: block;
        padding-top: 30%;
    }

    &.g_trans .content{
        left: 75%;
    }        
}


.active_item, .active_Adj{
    background-color: #E5ACAC;
}

#edges{
    background-color: #C5C1C1;
    height: 100%;
}

#edges th,#edges td{
    text-align: center;
    border: 1px solid #000;
    height: $size;
}

#edges td:hover{
    background-color: #C5C1C1;
}

#edges input{
    float: right;
    width: 50%;
    height: 1.5em;
    margin: 0;
}

.activeStep{
    background-color: #FA9F9F!important;
}

.activeTrans{
    background-color: #B4FA9F!important;
}

/**
 * 4.0 - Themes
 */





