<div class="title-bar hide-for-large">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="my-info" aria-expanded="false" aria-controls="my-info"></button>
        <span class="title-bar-title">Mike Mikerson</span>
    </div>
</div>
<div class="callout primary">
    <div class="row column">
        <h1>Hello! This is the portfolio of a very witty person.</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla.</p>
    </div>
</div>