<!DOCTYPE html>
<html>

{% include "../partials/head.html" %}

<body>

	{% include "../partials/header.html" %}

	<div class="row">
		<div class="medium-8 columns">
			{% include "../partials/grid.html" %}
		</div>
		<div id="edges" class="medium-4 columns">
			{% include "../partials/controles.html" %}
			<hr>
			<ul class="tabs" data-tabs id="example-tabs">
				<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">List of edges</a></li>
				<li class="tabs-title"><a href="#panel2">AdjList</a></li>
				<li class="tabs-title"><a href="#panel3">State Vector</a></li>
			</ul>
			<div class="tabs-content" data-tabs-content="example-tabs">
				<div class="tabs-panel is-active" id="panel1">
					{% include "../partials/edgeList.html" %}
				</div>
				<div class="tabs-panel" id="panel2">
					{% include "../partials/adjList.html" %}
				</div>
				<div class="tabs-panel" id="panel3">
					<div id="">
						<h2>State Vector</h2>
						<ul id="stateVector">

						</ul>
					</div>
				</div>
			</div> 
		</div>
	</div>

	<!-- Code -->
	<hr>
	<div class="row column">
		<h4 style="margin: 0;" class="text-center">CODE SECTION</h4>
	</div>
	<hr>
	<div class="row">
		<div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
			<article>
				<!-- Read Inputs -->
				<div class="row">
					<div class="large-8 columns">
						{% include "../partials/input_outputManager.html" %}
					</div>
					<hr>
					<!-- Steps Structure définition -->
					<div class="row">
						<div class="large-8 columns">
							<textarea name="" id="Steps" cols="30" rows="10"></textarea>                        
						</div>
						<div class="large-4 columns">
							<h5><a href="#">Step code structure</a></h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
						</div>
					</div>
					<hr>
				</article>
			</div>
			<div class="large-4 columns">
				<aside>
					<div class="row small-up-3">
						<div class="column text-center">
							<i class="fi-social-facebook"></i>
							<h6>56,009</h6>
							<p><small>FOLLOWERS</small></p>
							<br>
						</div>
						<div class="column text-center">
							<i class="fi-social-twitter"></i>
							<h6>76,905</h6>
							<p><small>FOLLOWERS</small></p>
							<br>
						</div>
						<div class="column text-center">
							<i class="fi-social-instagram"></i>
							<h6>34,099</h6>
							<p><small>FOLLOWERS</small></p>
							<br>
						</div>
						<div class="column text-center">
							<i class="fi-social-tumblr"></i>
							<h6>13,765</h6>
							<p><small>FOLLOWERS</small></p>
						</div>
						<div class="column text-center">
							<i class="fi-social-pinterest"></i>
							<h6>9,283</h6>
							<p><small>FOLLOWERS</small></p>
						</div>
						<div class="column text-center">
							<i class="fi-social-youtube"></i>
							<h6>99,000</h6>
							<p><small>FOLLOWERS</small></p>
						</div>
					</div>
					<br>
					<!-- Grafcet.h -->

					<div class="row column">
						<p class="lead">Librairies Grafcet</p>

					</div>
					<br>
					<div class="row column">
						<p class="lead">TRENDING POSTS</p>
						<div class="media-object">
							<div class="media-object-section">
								<img class="thumbnail" src="http://placehold.it/100">
							</div>
							<div class="media-object-section">
								<h5>All I need is a space suit and I'm ready to go.</h5>
							</div>
						</div>
						<div class="media-object">
							<div class="media-object-section">
								<img class="thumbnail" src="http://placehold.it/100">
							</div>
							<div class="media-object-section">
								<h5>Are the stars out tonight? I don't know if it's cloudy or bright.</h5>
							</div>
						</div>
						<div class="media-object">
							<div class="media-object-section">
								<img class="thumbnail" src="http://placehold.it/100">
							</div>
							<div class="media-object-section">
								<h5>And the world keeps spinning.</h5>
							</div>
						</div>
						<div class="media-object">
							<div class="media-object-section">
								<img class="thumbnail" src="http://placehold.it/100">
							</div>
							<div class="media-object-section">
								<h5>Cold hearted orb that rules the night.</h5>
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>
		<hr>
		<div class="row column">
			<h4 style="margin: 0;" class="text-center">CODE SECTION</h4>
		</div>
		<hr>
		<div class="row small-up-3 medium-up-4 large-up-5">
			<div class="column">
				<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
			</div>
			<div class="column">
				<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
			</div>
			<div class="column">
				<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
			</div>
			<div class="column show-for-medium">
				<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
			</div>
			<div class="column show-for-large">
				<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
			</div>
		</div>


		{% include "../partials/footer.html" %}

		{% include "../partials/js.html" %}

	</body>

	</html>
