/* nodes_modules*/
/* base */
/*----------------------------------------------------------------*        1_$VARIABLES
\*----------------------------------------------------------------*/
/*----------------------------------------------------------------*        2_$MIXINS
\*----------------------------------------------------------------*/
/*----------------------------------------------------------------*        3_$DEFINITIONs
\*----------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Theme */
/*----------------------------------------------------------------*        1_$VARIABLES
\*----------------------------------------------------------------*/
/*breakpoints*/
/*color panel*/
/*size*/
/*susy layouts*/
/*----------------------------------------------------------------*        2_$MIXINS
\*----------------------------------------------------------------*/
/*----------------------------------------------------------------*        3_$DEFINITIONs
\*----------------------------------------------------------------*/
body {
  background-color: #BBB; }

img {
  max-width: 100%;
  height: auto; }

header a {
  text-decoration: none;
  color: #FFF; }

header nav {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px; }
  header nav:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 800px) {
    header nav {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto; }
      header nav:after {
        content: " ";
        display: block;
        clear: both; } }
  header nav li {
    width: 98.61111%;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    border: solid 1px #FFF;
    padding: 10px 0;
    background-color: black; }
    @media (min-width: 600px) {
      header nav li {
        width: 15.27778%;
        float: right;
        margin-left: 0.69444%;
        margin-right: 0.69444%; } }
    header nav li:hover {
      border: solid 2px red; }
    header nav li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center; }
  header nav .icon {
    width: 98.61111%;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    height: 50px;
    background-color: black;
    font-size: 2.5em;
    line-height: 50px; }
    @media (min-width: 600px) {
      header nav .icon {
        width: 23.61111%;
        float: left;
        margin-left: 0.69444%;
        margin-right: 0.69444%; } }
    header nav .icon a {
      display: inline-block;
      width: 100%;
      text-align: center; }
      header nav .icon a:hover {
        color: red; }

.l-warp {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: white; }
  @media (min-width: 670px) {
    .l-warp {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto; }
      .l-warp:after {
        content: " ";
        display: block;
        clear: both; } }
  .l-warp:after {
    content: " ";
    display: block;
    clear: both; }

.l-content {
  color: white; }
  .l-content h1 {
    text-align: center;
    font-size: 4em; }
  .l-content h2 {
    font-size: 2em;
    padding: 10px; }
  .l-content p {
    padding: 20px; }

section {
  margin-bottom: 20px; }

.l-pr-section {
  width: 98.61111%;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  padding: 20px 0;
  background-color: black; }
  .l-pr-section .images {
    width: 98.61111%;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    text-align: center; }
    @media (min-width: 600px) {
      .l-pr-section .images {
        width: 65.27778%;
        float: left;
        margin-left: 0.69444%;
        margin-right: 0.69444%; } }
  .l-pr-section aside {
    width: 98.61111%;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%; }
    @media (min-width: 600px) {
      .l-pr-section aside {
        width: 31.94444%;
        float: right;
        margin-left: 0.69444%;
        margin-right: 0.69444%; } }
    .l-pr-section aside ul {
      max-width: 95%;
      margin-left: auto;
      margin-right: auto; }
      .l-pr-section aside ul:after {
        content: " ";
        display: block;
        clear: both; }
      .l-pr-section aside ul li {
        list-style: none; }
        .l-pr-section aside ul li a {
          display: block;
          padding: 10px 10%;
          border-bottom: solid 1px white;
          color: white;
          text-decoration: none; }
          .l-pr-section aside ul li a:hover {
            border: solid 1px white;
            border-bottom-color: red; }

.l-sd-section {
  width: 98.61111%;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  background-color: black; }
  @media (min-width: 800px) {
    .l-sd-section {
      width: 48.61111%;
      float: left;
      margin-left: 0.69444%;
      margin-right: 0.69444%; } }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#defaultnav {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px; }
  #defaultnav h1 {
    font-size: 2em;
    padding: 10px;
    text-decoration: underline; }
  #defaultnav li {
    font-size: 1.5em; }
