<!DOCTYPE html>
<html>
<head lang="FR">

	<title>CSSB-ThreeBoxes</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">

	<link rel="stylesheet" type="text/css" media="screen" href="css/threeBoxes.css">

</head>

<body>
	<div id="l-container">
		<header>
			<nav>
				<div class="icon"><a href="">Lorem</a></div>
				<ul>
					<li><a href="">Lorem</a></li>
					<li><a href="">Lorem</a></li>
					<li><a href="">Lorem</a></li>
				</ul>
			</nav>
		</header>

		<div class="l-warp">
			<div class="l-content">
				<section class="l-pr-section">
					<h1>Main Section</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fuga pariatur perferendis dolore quas alias nihil totam obcaecati, molestias vitae cupiditate ipsa sunt quasi quia iusto iure dolorum, quis laboriosam.</p>
					<div class="images">
						<img src="http://lorempicsum.com/futurama/350/200/1" alt="lorempicsum">
					</div>					
					<aside>
						<h2>Side content</h2>
						<ul>
							<li><a href="">List Item</a></li>
							<li><a href="">List Item</a></li>
							<li><a href="">List Item</a></li>
							<li><a href="">List Item</a></li>
						</ul>
					</aside>
				</section>
				<section class="l-sd-section">
					<h2>Second content</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates explicabo nostrum natus sit debitis aut maiores, asperiores molestias, nisi voluptatem necessitatibus, adipisci incidunt illum minima ullam autem dolorum aspernatur. Minima.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, commodi eius. Exercitationem asperiores possimus vel, sapiente aperiam doloribus quisquam dolorum cumque soluta. Possimus vitae distinctio praesentium numquam eaque quia repudiandae.</p>
				</section>
				<section class="l-sd-section">
					<h2>Second content</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates explicabo nostrum natus sit debitis aut maiores, asperiores molestias, nisi voluptatem necessitatibus, adipisci incidunt illum minima ullam autem dolorum aspernatur. Minima.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit velit nostrum, accusamus aspernatur esse deleniti molestias quaerat alias ad perspiciatis dolorum corrupti beatae minus eos maxime doloremque corporis architecto laborum.</p>
				</section>
			</div>
		</div>

		<footer></footer>
	</div>
</body>

</html>