<!DOCTYPE html>
<html>
<head lang="FR">

	<title>CSSB-ThreeImages</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<link rel="stylesheet" type="text/css" media="screen" href="css/threeImages.css">

</head>

<body>
	<div id="l-container">
		<header>
			<nav>
				<div class="icon"><a href="">Lorem</a></div>
				<ul>
					<li><a href="">Lorem</a></li>
					<li><a href="">Lorem</a></li>
					<li><a href="">Lorem</a></li>
					<li><a href="">Lorem</a></li>
				</ul>
			</nav>
		</header>

		<div class="l-warp">
			<section class="l-content">
				<div class="description">
					<h1>Lorem ipsum dolor sit amet</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptatem facere fugiat quae est reiciendis perspiciatis nam vel ad sunt iusto, quas quidem veritatis, cumque quam architecto modi mollitia tempore!</p>
				</div>
				<div class="images">
					<img id="image1" src="http://lorempicsum.com/futurama/600/300/1" alt="image1">
					<img id="image2" src="http://lorempicsum.com/futurama/600/300/2" alt="image2">
					<img id="image3" src="http://lorempicsum.com/futurama/600/300/3" alt="image3">
				</div>
			</section>
		</div>

		<footer>
		<p>
			Copyright &copy; 2015 My Client. Site Designed by <a href="http://mysite.com">My Company</a>. All Rights Reserved.
		</p>
		</footer>
	</div>

	<script src="js/app.js"></script>
</body>

</html>