/*
StyleSheet Name: ThreeBoxes
Basic theme
*/

/*----------------------------------------------------------------*\
        1_$VARIABLES
\*----------------------------------------------------------------*/
/*size*/
$icon-height: 50px;
$warp-margin-top: 50px;

$side-content-item-offset: 10%;

$padding-top-or-bot-inline-item: 10px;

$section-magin-or-padding: 20px;

/*susy layouts*/
$susy: (
	/*Layout properties*/
	container: 95%,
	columns: 12,
	/*Gutter properties*/
	gutters: 1/5,
	gutter-position: split,
	//column-width: 100px,
	/*configuration*/
	global-box-sizing: border-box,
	debug: (
		//image: show,
	)
);

$mdLayout: (
	/*Layout properties*/
	container: 80%,
	columns: 12,
	/*Gutter properties*/
	gutters: 1/5,
	gutter-position: split,
	//column-width: 100px,
	/*configuration*/
	global-box-sizing: border-box,
	debug: (
		//image: show,
	)
);

/*----------------------------------------------------------------*\
        2_$MIXINS
\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
        3_$DEFINITIONs
\*----------------------------------------------------------------*/

img{
	max-width: 100%;
    height: auto;
}

.l-warp {
	
	@include susy-breakpoint($bkp-sm, $mdLayout){
		@include container();
	}
	@include container();

	margin-top: $warp-margin-top;
	background-color: $color-2;
}

.l-content {
	color: $color-2;

	h1{
		text-align: center;
		font-size: 4em;
	}

	h2{
		font-size: 2em;
		padding: 10px;
	}

	p{
		padding: 20px;
	}
}

section {margin-bottom: $section-magin-or-padding;}

.l-pr-section {	
	@include span(12);
	padding: $section-magin-or-padding 0;

	background-color: $color-1;

	.images{
		@include breakpoint($bkp-sm){
			@include span(8);
		}
		@include span(12);

		text-align: center;	
	}

	aside {
		@include breakpoint($bkp-sm){
			@include span(4 at 9);
		}
		@include span(12);

		ul {

			@include container();

			li {
				list-style: none;
				a {
					display: block;
					padding: $padding-top-or-bot-inline-item $side-content-item-offset;
					border-bottom: solid 1px $color-2;
					color: $color-2;
					text-decoration: none;

					&:hover {
						border: solid 1px $color-2;
						border-bottom-color: $color-3;
					}
				}
			}
		}
	}
}

.l-sd-section {	
	@include breakpoint($bkp-md){
		@include span(6);
	}
	@include span(12);	

	background-color: $color-1;
}
